<div class="login-wrapper">
  <div class="login-card registro-card">
    <div class="login-header">
      <img src="https://placehold.co/200x80/3498db/white?text=Rueda+Jump" alt="Logo Rueda Jump" class="login-logo">
      <h2>Alta de Administrador</h2>
      <p>Crea una cuenta maestra para gestionar el sistema</p>
    </div>

    <form (submit)="registrar($event)" class="login-form">
      <div class="input-group">
        <label>Nombre Completo</label>
        <div class="input-with-icon">
          <span></span>
          <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Ej. Joel..." required>
        </div>
      </div>

      <div class="input-group">
        <label>Nuevo Usuario</label>
        <div class="input-with-icon">
          <span></span>
          <input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Crea un nombre de usuario" required>
        </div>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <div class="input-with-icon">
          <span></span>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Mínimo 6 caracteres" required minlength="6">
        </div>
      </div>

      <div class="input-group">
        <label>Código de Autorización </label>
        <div class="input-with-icon secret-code">
          <span></span>
          <input type="password" [(ngModel)]="codigoSecreto" name="codigoSecreto" placeholder="Ingresa el código maestro" required>
        </div>
      </div>

      @if (mensajeError) {
        <div class="error-box">
           {{ mensajeError }}
        </div>
      }

      <button type="submit" class="btn-login btn-register">
        REGISTRAR ADMINISTRADOR
      </button>

      <div class="footer-links">
        <a routerLink="/admin/login" class="btn-back">← Volver al Login</a>
        <a routerLink="/home" class="btn-back">← Volver al inicio</a>
      </div>
    </form>
  </div>

  @if (mostrarMensajeExito) {
    <div class="overlay" (click)="irAlDashboard()">
      <div class="modal-box success-theme" (click)="$event.stopPropagation()">
        <div class="status-icon">✓</div>
        <h2>¡Cuenta Creada!</h2>
        <p>Bienvenido al equipo administrativo, <strong>{{ nombre }}</strong>.</p>
        <button class="btn-modal" (click)="irAlDashboard()">ENTRAR AL PANEL</button>
      </div>
    </div>
  }
</div>